﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="wmEcommerce.aspx.vb" Inherits="webtransportewalmartmx.wmEcommerce" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
</body>
</html>
