﻿<!-- PANEL -->
<div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title">{TITULO}</h3></div>
  <div class="panel-body">
    {CONTENIDO}
  </div>
</div> 

<!-- DIVISION COLUMNAS -->
<div class="form-group">
  <div class="row">
    <div class="col-xs-4">
      <label class="control-label">T&iacute;tulo<strong class="text-danger">&nbsp;*</strong></label>
      {CONTROL}
    </div>
    <div class="col-xs-4">
      <label class="control-label">Nombre Archivo<strong class="text-danger">&nbsp;*</strong></label>
      {CONTROL}
      <span id="hErrorNombreArchivo" runat="server"></span>
    </div>
    <div class="col-xs-4">
      <label class="control-label">Categor&iacute;a<strong class="text-danger">&nbsp;*</strong></label>
      <div class="input-group">
        {CONTROL}
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      </div>
    </div>
  </div>
</div>

<!-- TEXTBOX CON IMAGEN -->
<div class="input-group">
  <asp:TextBox ID="txtFiltroNombre" runat="server" MaxLength="150" CssClass="form-control"></asp:TextBox>
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
</div>


<!-- LINKBUTTON -->
<asp:LinkButton ID="btnFiltrar" runat="server" CssClass="btn btn-primary" OnClientClick="return(Pagina.validarFormularioBusqueda())"><span class="glyphicon glyphicon-search"></span>&nbsp;Buscar</asp:LinkButton>

<div id="btnNuevo" runat="server" class="btn btn-success" onclick="Pagina.abrirFormulario({ idPagina:'0' })"><span class="glyphicon glyphicon-plus"></span>&nbsp;Crear Nueva P&aacute;gina</div>

<button type=""button"" class=""btn btn-default"" onclick=""Pagina.eliminarRegistro({ idPagina:'" & idPagina & "' })""><span class=""glyphicon glyphicon-trash""></span></button>&nbsp;


<!-- ALERTA -->
<div class="alert alert-info">
  {CONTENIDO}
</div>
