﻿#div_load
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 90000;
    background: rgba(208, 208, 208, 0.5);
}

#div_loading
{
    position: fixed;
    top: 40%;
    left: 37%;
    z-index: 90000;
    width: 25%;
    height: 23%;
}