﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/common/MasterPage.Master" CodeBehind="Supervisor.GestionAlerta.aspx.vb" Inherits="webtransportewalmartmx.Supervisor_GestionAlerta" %>
<%@ Register Src="../wuc/wucCombo.ascx" TagName="wucCombo" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphContent" runat="server">
  <script type="text/javascript" src="../js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="../js/jquery.dataTables.bootstrap.js"></script>
  <script type="text/javascript" src="../js/jquery.customscrollbar.js"></script>
  <script type="text/javascript" src="../js/jquery.makeSearchList.js"></script>
  <script type="text/javascript" src="../js/jquery.select2.js"></script>
  <script type="text/javascript" src="../js/alerta.js"></script>
  <script type="text/javascript" src="../js/combo.js"></script>

  <div class="form-group">
    <input type="hidden" id="txtIdAlerta" value="" />
    <input type="hidden" id="txtIdAlertaGestionAcumulada" value="" />
    <input type="hidden" id="txtLatTracto" value="" />
    <input type="hidden" id="txtLonTracto" value="" />
    <input type="hidden" id="txtAlertaMapa" value="" />
    <input type="hidden" id="txtPermisoPestanaAlertasPorCerrar" runat="server" value="0" />
    <input type="hidden" id="txtPermisoPestanaAlertasSinAtender" runat="server" value="0" />
    <input type="hidden" id="hclasificacionAlertaSist" value="" />

    <asp:Panel ID="pnlMensajeAcceso" Runat="server"></asp:Panel>
    <asp:Panel ID="pnlContenido" Runat="server">

      <div>
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li id="liPestanaAlertasPorCerrar" runat="server"><a href="#ctl00_cphContent_tabAlertasPorCerrar" data-toggle="tab" onclick="Alerta.recargarDatosTabGestionAlerta_Supervisor({ tab:'AlertasPorGestionar' })"><strong>ALERTAS POR CERRAR </strong><span id="lblTotalAlertasPorGestionar" class="badge alert-danger">0</span></a></li>
          <li id="liPestanaAlertasSinAtender" runat="server"><a href="#ctl00_cphContent_tabAlertasSinAtender" data-toggle="tab" onclick="Alerta.recargarDatosTabGestionAlerta_Supervisor({ tab:'AlertasSinAtender' })"><strong>ALERTAS EN COLA DE ATENCION y SIENDO ATENDIDAS </strong><span id="lblTotalAlertasSinAtender" class="badge alert-danger">0</span></a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
          <!-----------------------------------------------
          TAB: ALERTAS POR CERRAR
          ------------------------------------------------->
          <div id="tabAlertasPorCerrar" runat="server" class="tab-pane">
            <div class="sist-padding-top-8">
              <div class="row">
                <!-- COLUMNA IZQUIERDA -->
                <div class="col-xs-8">
                  <div class="panel panel-info">
                    <div class="panel-body">
                      <div class="form-group">
                        <div id="hListadoAlertasPorGestionar" class="small"></div>
                        <div id="lblMensajeCargaAlertasPorGestionar"></div>
                      </div>
                      <div class="form-group text-center">
                        <div id="btnRecargar" runat="server" class="btn btn-lg btn-success " onclick="Alerta.obtenerAlertasPorGestionar()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Recargar datos</div>
                      </div>
                    </div>
                  </div> 
                </div>

                <!-- COLUMNA DERECHA -->
                <div class="col-xs-4">
                  <div id="hDetalleAlerta" class="panel panel-success">
                    <div class="panel-heading"><span class="panel-title"><strong>DETALLE ALERTA: <em><span id="lblTituloNombreAlerta">-</span></em></strong></span></div>
                    <div class="panel-body sist-padding-top-5 sist-padding-bottom-5">

                      <div id="hMensajeCargarAlerta">
                        <div class="alert alert-warning sist-margin-cero">
                          <div class="row">
                            <div class="col-xs-2">
                              <img src="../img/lupa.png" alt="" />
                            </div>
                            <div class="col-xs-10">
                                <p class="sist-font-size-24">Seleccione una alerta del listado para registrar la gesti&oacute;n</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="hFormulario" class="sist-display-none">
                        <div class="form-group text-center">
                          <button id="btnMapa" type="button" class="btn btn-sm btn-default" onclick="Alerta.verPosicionEnMapa({ desdeFormulario: Alerta.FORMULARIO_SUPERVISOR_GESTION_ALERTA, sistemaDestino: 'QAnalytics' })"><span class="glyphicon glyphicon-globe"></span>&nbsp;Ver Mapa</button>
                          <button id="btnPopover" type="button" class="btn btn-sm btn-default" data-toggle="popover" data-trigger="click" data-placement="bottom"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;Ver detalle</button>
                          <button id="btnHistorialEscalamientos" type="button" class="btn btn-sm btn-default" onclick="Alerta.verHistorialEscalamientosPopUp()"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Ver escalamientos</button>

                          <div id="popoverTitulo" class="hidden"><strong><span id="lblPopoverTitulo"></span></strong></div>
                          <div id="popoverContenido" class="hidden">
                            <small>
                              <strong>Prioridad: </strong><span id="lblPopoverPrioridad"></span><br />
                              <strong>Escalamientos realizados: </strong><span id="lblPopoverNroEscalamientoActual" class="label label-success sist-font-size-11">-</span><br />
                              <strong>IdMaster: </strong><span id="lblPopoverNroTransporte"></span><br />
                              <strong>Formato: </strong><span id="lblPopoverNombreFormato"></span><br />
                              <strong>Origen: </strong><span id="lblPopoverOrigen"></span><br />
                              <strong>Destino: </strong><span id="lblPopoverDestino"></span><br />
                              <strong>Operador: </strong><span id="lblPopoverNombreConductor"></span><br />
                              <strong>L&iacute;nea de Transporte: </strong><span id="lblPopoverNombreTransportista"></span><br />
                              <strong>Placa Tracto: </strong><span id="lblPopoverPatenteTracto"></span><br />
                              <strong>Placa Remolque: </strong><span id="lblPopoverPatenteTrailer"></span><br />
                              <strong>Velocidad: </strong><span id="lblPopoverVelocidad"></span> KM/HR<br />
                              <strong>Tipo Viaje: </strong><span id="lblPopoverTipoViaje"></span><br />
                              <strong>Lat Tracto: </strong><span id="lblPopoverLatTracto"></span><br />
                              <strong>Lon Tracto: </strong><span id="lblPopoverLonTracto"></span><br />
                              <strong>Fecha Creaci&oacute;n: </strong><span id="lblPopoverFechaHoraCreacion"></span><br />
                              <strong>Tipo Alerta: </strong><span id="lblPopoverTipoAlerta"></span><br />
                              <div class="text-center"><span id="lblPopoverPermiso"></span></div>
                            </small>
                          </div>
                        </div>

                        <div class="form-group">
                          <strong>Escalamientos realizados</strong>
                          <div class="text-center">
                            <div id="hPasosEscalamientos" class="sist-margin-bottom-5"></div>
                          </div>
                        </div>

                        <div class="form-group" style="display:none;">
                          <strong>Contactado de escalamiento anterior</strong>
                          <div id="hComboContactadoEscalamientoAnterior">
                            <small><em class="help-block">No hay contactos asociados</em></small>
                          </div>
                        </div>

                        <div class="form-group" style="display:none;">
                          <div class="row">
                            <div class="col-xs-6">
                              <strong>Explicaci&oacute;n de la alerta</strong>
                              <div id="hComboExplicacion">
                                <select id="ddlExplicacion" class="form-control input-sm">
                                  <option value="""">--Seleccione--</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <strong>Otro</strong>
                              <input type="text" id="txtExplicacionOtro" class="form-control input-sm" value="" maxlength="255" disabled="disabled" />
                            </div>
                          </div>
                        </div>                                    

                        <div class="form-group">
                          <div class="row">
	                        <div class="col-xs-6">
	                          <strong>Categor&iacute;a de Alerta</strong>
	                          <div id="hComboTipoAlerta">
                              <select id="ddlCategoriaAlerta" class="form-control input-sm"></select>
	                          </div>
	                        </div>
                          <div class="col-xs-6">
                              <strong>Tipo de Observaci&oacute;n</strong>
                              <div id="hComboTipoObs">
                                <select id="ddlTipoObservacion" class="form-control input-sm">
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>  

                        <div class="form-group">
                          <span id = "divDescTipoObservacion" class="help-block"></span>
                        </div>    
                        
                        <div id="divInfoAlertaRoja">
                        </div>

                        <div class="form-group">
                          <strong>Observaci&oacute;n</strong>
                          <div class="form-group">
                            <textarea id="txtObservacion" class="form-control input-sm" rows="2" cols="1"></textarea>
                          </div>
                        </div>
                        
                        <div class="form-group sist-display-none">
                          <strong>Cerrar alerta</strong>
                          <div class="form-group">
                            <label class="radio-inline">
                              <input type="radio" name="groupCerrado" id="rbtnCerradoPendiente" value="CerradoPendiente" />Pendiente
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="groupCerrado" id="rbtnCerradoSatisfactorio" value="CerradoSatisfactorio" />Satisfactorio
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="groupCerrado" id="rbtnCerradoNoSatisfactorio" value="CerradoNoSatisfactorio"/>No satisfactorio
                            </label>
                          </div>
                        </div>

                        <div id="divRespuesta" class="sist-display-none">
	                        <div class="panel panel-default">
		                        <div class="panel-heading"><strong class="text-muted">Respuesta L&iacute;nea de Transporte</strong></div>
		                        <div class="panel-body">
			                        <div class="table-responsive">
                                <div class="form-group">
                                  <strong>Categor&iacute;a</strong>
                                  <div class="form-group">
                                    <small><em class="help-block"><span id = "spanCategoriaRespuesta"></span></em></small>
                                  </div>
                                </div>

                                <div class="form-group">
                                  <strong>Observaci&oacute;n</strong>
                                  <div class="form-group">
                                    <small><em class="help-block"><span id = "spanObsRespuesta"></span></em></small>
                                  </div>
                                </div>
			                        </div>
		                        </div>
	                        </div>
                        </div>

                        <div>
                          <div class="row">
                            <div class="col-xs-6 text-left">
                              <div id="btnCancelar" class="btn btn-danger" onclick="Alerta.limpiarFormulario_Supervisor()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</div>  
                            </div>
                            <div class="col-xs-6 text-right">
                              <div id="btnGrabar" runat="server" class="btn btn-primary" onclick="Alerta.validarFormularioAlerta_Supervisor()"><span class="glyphicon glyphicon-ok"></span>&nbsp;Grabar</div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div> 
              </div>

            </div>
          </div>

          <!-----------------------------------------------
          TAB: ALERTAS SIN ATENDER
          ------------------------------------------------->
          <div id="tabAlertasSinAtender" runat="server" class="tab-pane">
            <div class="sist-padding-top-8">
              <div class="form-group">
                <div id="hAlertasSinAtender">
                  <div id="hListadoAlertasSinAtender"></div>
                </div>
              </div>

              <div class="form-group text-center">
                <div id="btnRecargarTablaAlertaSinAtender" class="btn btn-lg btn-success" onclick="Alerta.obtenerAlertasSinAtenderEnTabla()"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Recargar datos</div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </asp:Panel>
  </div>
  
  <script type="text/javascript">
    jQuery(document).ready(function () {

      if (jQuery("#" + Sistema.PREFIJO_CONTROL + "txtPermisoPestanaAlertasPorCerrar").val() == "1") {
        jQuery("#btnPopover").popover({
          html: true,
          content: function () { return jQuery('#popoverContenido').html(); },
          title: function () { return jQuery('#popoverTitulo').html(); }
        });

        Alerta.obtenerAlertasPorGestionar();
        Alerta.SETINTERVAL_ALERTAS_POR_GESTIONAR = setInterval(function () { Alerta.obtenerAlertasPorGestionar(); }, Alerta.SETINTERVAL_MILISEGUNDOS_ALERTAS_POR_GESTIONAR);
        Alerta.cargarComboExplicacion({ prefijoControl: "" });
      }

      if (jQuery("#" + Sistema.PREFIJO_CONTROL + "txtPermisoPestanaAlertasSinAtender").val() == "1") {
        Alerta.obtenerAlertasSinAtenderEnTabla();
      }

      Combo.dibujarHTML({
        elem_contenedor: "ddlCategoriaAlerta",
        tipoCombo: 'CategoriaAlerta',
        multiple: false,
        placeholder: "",
        item_cabecera: "Seleccione",
        valores_seleccionados: ['-1'],
        onChange: "Combo.cambiarComboTipoObservacion( { elem_contenedor: 'ddlCategoriaAlerta' } );",
        fuenteDatos: "Tabla",
        data: [],
        combos_relacionados: [
                                {
                                  elem_contenedor: "ddlTipoObservacion",
                                  tipoCombo: 'TipoObservacion',
                                  multiple: false,
                                  placeholder: "",
                                  item_cabecera: "Seleccione",
                                  valores_seleccionados: ['-1'],
                                  onChange: "Alerta.mostrarClasificacionTipoObservacion();",
                                  fuenteDatos: "Tabla",
                                  data: [],
                                  filtro: jQuery("#ddlCategoriaAlerta").val()
                                }
                              ]
      });

    });
  </script>

</asp:Content>
