﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Transportista.ConductorDetalle.aspx.vb" Inherits="webtransportewalmartmx.Transportista_ConductorDetalle" %>

<%@ Register Src="../wuc/wucHora.ascx" TagName="wucHora" TagPrefix="uc2" %>
<%@ Register Src="../wuc/wucCombo.ascx" TagName="wucCombo" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
  <title>Detalle Operador</title>
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="-1" />
  <link rel="stylesheet" type="text/css" href="../css/jquery.ui.css" />
  <link rel="stylesheet" type="text/css" href="../css/bootstrap-cerulean.css" />
  <link rel="stylesheet" type="text/css" href="../css/fancybox.css" />
  <link rel="stylesheet" type="text/css" href="../css/select2.css" />
  <link rel="stylesheet" type="text/css" href="../css/sistema.css" />
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/jquery.ui.js"></script>
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <script type="text/javascript" src="../js/jquery.select2.js"></script>
  <script type="text/javascript" src="../js/sistema.js"></script>
  <script type="text/javascript" src="../js/validacion.js"></script>
  <script type="text/javascript" src="../js/combo.js"></script>
  <script type="text/javascript" src="../js/alerta.js"></script>
  <script type="text/javascript" src="../js/transportista.js"></script>  
</head>
<body>
  <form id="form1" runat="server">
  <input type="hidden" id="txtIdConductor" runat="server" value="-1" />
  <input type="hidden" id="txtJSONDatosPerfil" runat="server" value="[]" />
  <div class="container sist-margin-top-10">
    <div class="form-group text-center">
      <asp:Label ID="lblTituloFormulario" runat="server" CssClass="h3"></asp:Label>
      <div>
        <asp:Label ID="lblIdRegistro" runat="server" CssClass="text-danger" Font-Bold="true"></asp:Label></div>
      <asp:Panel ID="pnlMensajeUsuario" runat="server">
      </asp:Panel>
    </div>
    <div class="form-group">
      <asp:Panel ID="pnlMensajeAcceso" runat="server">
      </asp:Panel>
      <asp:Panel ID="pnlContenido" runat="server">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              DATOS PERSONALES</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">
                    Nombre<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtNombre" runat="server" MaxLength="50" CssClass="form-control"></asp:TextBox>
                </div>
                <div class="col-xs-4">
                  <label class="control-label">
                    Paterno<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtPaterno" runat="server" MaxLength="50" CssClass="form-control"></asp:TextBox>
                </div>
                <div class="col-xs-4">
                  <label class="control-label">
                    Materno</label>
                  <asp:TextBox ID="txtMaterno" runat="server" MaxLength="50" CssClass="form-control"></asp:TextBox>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label class="control-label">
                    RUT<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtRUT" runat="server" Columns="20" MaxLength="20" CssClass="form-control"></asp:TextBox>
                  <span id="hErrorRUT" runat="server"></span><span class="help-block">(sin puntos ej:12345678-K)</span>
                </div>
                <div class="col-xs-2">
                  <label class="control-label">
                    Fecha de Nacimiento<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtFechaNacimiento" runat="server" MaxLength="10" CssClass="form-control date-pick"></asp:TextBox>
                </div>
                <div class="col-xs-4">
                  <label class="control-label">
                    Email</label>
                  <asp:TextBox ID="txtMail" runat="server" MaxLength="50" CssClass="form-control"></asp:TextBox>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3">
                  <div>
                    <label class="control-label">Tel&eacute;fono<strong class="text-danger">&nbsp;*</strong></label>
                  </div>
                  <div class="col-sm-3 sist-padding-cero">
                    <select name="select" id="ddlCodigoTelefono" runat="server" class="form-control chosen-select">
                      <option value="2">2</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="39">39</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="45">45</option>
                      <option value="51">51</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="55">55</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="61">61</option>
                      <option value="63">63</option>
                      <option value="64">64</option>
                      <option value="65">65</option>
                      <option value="67">67</option>
                      <option value="71">71</option>
                      <option value="72">72</option>
                      <option value="73">73</option>
                      <option value="75">75</option>
                    </select>
                  </div>
                  <div class="col-sm-9">
                    <asp:TextBox ID="txtTelefono" runat="server" MaxLength="8" CssClass="form-control"></asp:TextBox>
                  </div>
                </div>
                <div class="col-xs-3">
                  <div>
                    <label class="control-label">Tel&eacute;fono 2</label>
                  </div>
                  <div class="col-sm-3 sist-padding-cero">
                  <select name="select"  id="ddlCodigoTelefono2" runat="server" class="form-control chosen-select">
                    <option value="2">2</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="39">39</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="45">45</option>
                    <option value="51">51</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="55">55</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="61">61</option>
                    <option value="63">63</option>
                    <option value="64">64</option>
                    <option value="65">65</option>
                    <option value="67">67</option>
                    <option value="71">71</option>
                    <option value="72">72</option>
                    <option value="73">73</option>
                    <option value="75">75</option>
                  </select>
                  </div>
                  <div class="col-sm-9">
                    <asp:TextBox ID="txtTelefono2" runat="server" MaxLength="8" CssClass="form-control"></asp:TextBox>
                  </div>
                </div>               
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3">
                  <label class="control-label">Región<strong class="text-danger">&nbsp;*</strong></label>
                  <select name="select" id="ddlRegion" runat="server" class="form-control" onchange="Transportista.cargarComunas()">
                  </select>
                </div>
                <div class="col-xs-2">
                  <label class="control-label">Comuna<strong class="text-danger">&nbsp;*</strong></label>
                  <select id="ddlComuna" runat="server" class="form-control"><option value="">--Seleccione--</option></select>
                </div>
                 <div class="col-xs-7">
                  <label class="control-label">Dirección<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtDireccion" runat="server" MaxLength="50" CssClass="form-control"></asp:TextBox>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-xs-3">
                  <label class="control-label">
                    Estado Civil</label>
                  <uc1:wucCombo ID="ddlFiltroEstadoCivil" runat="server" CssClass="form-control chosen-select"
                    FuenteDatos="TipoGeneral" ItemSeleccione="true" TipoCombo="EstadoCivil" />
                </div>
                <div class="col-xs-3">
                  <label class="control-label">
                    Sexo<strong class="text-danger">&nbsp;*</strong></label>
                  <uc1:wucCombo ID="ddlFiltroSexo" runat="server" FuenteDatos="TipoGeneral" TipoCombo="Sexo"
                    ItemSeleccione="true" CssClass="form-control chosen-select"></uc1:wucCombo>
                </div>
                <div class="col-xs-3">
                  <label class="control-label">
                    Nacionalidad<strong class="text-danger">&nbsp;*</strong></label>
                  <uc1:wucCombo ID="ddlFiltroNacionalidad" runat="server" FuenteDatos="TipoGeneral"
                    TipoCombo="Nacionalidad" ItemSeleccione="true" CssClass="form-control chosen-select"
                    funcionOnChange="Transportista.mostrarNacionalidadOtro()"></uc1:wucCombo>
                </div>
                <div id="divOtra" class="col-xs-3" style="display: none;" runat="server">
                  <label class="control-label">Otra<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtNacionalidadOtra" runat="server" MaxLength="20" CssClass="form-control"></asp:TextBox>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3">
                  <label class="control-label">Nivel Estudios<strong class="text-danger">&nbsp;*</strong></label>
                  <uc1:wucCombo ID="ddlNivelEstudio" runat="server" FuenteDatos="TipoGeneral" TipoCombo="NivelEstudio" ItemSeleccione="true" CssClass="form-control chosen-select"></uc1:wucCombo>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-2">
                  <label class="control-label">
                    Fecha de Ingreso<strong class="text-danger">&nbsp;*</strong></label>
                  <asp:TextBox ID="txtFechaIngreso" runat="server" MaxLength="10" CssClass="form-control date-pick"></asp:TextBox>
                </div>
                <div class="col-xs-4">
                  <label class="control-label">
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="control-label">
                  </label>
                </div>
              </div>
            </div>           
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              DOCUMENTACIÓN</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <asp:Panel ID="Panel1" runat="server">
              </asp:Panel>
              <asp:Panel ID="pnlHolderGrilla" runat="server" CssClass="table-responsive" Width="100%"
                Visible="false">
                <div>
                  <strong>
                    <asp:Label ID="lblTotalRegistros" runat="server" Visible="false"></asp:Label></strong></div>
                <asp:GridView ID="gvPrincipal" runat="server" AutoGenerateColumns="False" CellPadding="0"
                    AllowPaging="True" AllowSorting="True" CssClass="table table-striped table-bordered"
                    EnableModelValidation="True" DataKeyNames="Id, IdTipoDocumentoXFichaConductor, IdConductor, IdTipoDocumento, IdTransportista, NombreDocumento, Indefinido, FechaExpiracion, idArchivo,NombreArchivo,Extension,ContentType,Tamano">
                    <Columns>
                      <asp:TemplateField HeaderText="#">
                        <HeaderStyle Width="40px" />
                        <ItemTemplate>
                          <%# Container.DataItemIndex + 1%>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:BoundField DataField="Id" HeaderText="ID" SortExpression="Id" />
                      <asp:BoundField DataField="NombreDocumento" HeaderText="Nombre" 
                            SortExpression="NombreDocumento" />
                      <asp:TemplateField HeaderText="Indefinido">
                         <ItemTemplate>
                            <input id="chkIndefinido" type="checkbox" checked="true" runat="server" />
                        </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Fecha_Expiracion">
                        <ItemTemplate>
                            <asp:TextBox ID="txtFechaExpiracion" runat="server" MaxLength="10" CssClass="form-control date-pick"></asp:TextBox>
                        </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField HeaderText="Adjuntar_Archivo">
                        <ItemTemplate>
                            <asp:FileUpload ID="flArchivo" runat="server" />
                        </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" />
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Archivo">
                        <ItemTemplate>
                          <asp:Label ID="lblArchivo" runat="server"></asp:Label>
                        </ItemTemplate>
                      </asp:TemplateField>
                      <asp:TemplateField HeaderText="Eliminar">
                        <HeaderStyle Width="150px" />
                        <ItemStyle Wrap="True" Width="110px" />
                        <ItemTemplate>
                          <input id="chkEliminar" type="checkbox" checked="false" runat="server" />
                        </ItemTemplate>
                      </asp:TemplateField>
                    </Columns>
                  </asp:GridView>
              </asp:Panel>
            </div>
          </div>
        </div>
      </asp:Panel>
    </div>
    <div class="form-group text-center">
      <div id="btnCerrar" runat="server" class="btn btn-lg btn-default" onclick="Transportista.cerrarPopUpFichaConductor('1')">
        <span class="glyphicon glyphicon-remove"></span>&nbsp;Cerrar</div>
      <asp:LinkButton ID="btnCrear" runat="server" CssClass="btn btn-lg btn-primary" OnClientClick="return(Transportista.validarFormularioFichaConductor())"><span class="glyphicon glyphicon-ok"></span>&nbsp;Crear</asp:LinkButton>
      <asp:LinkButton ID="btnModificar" runat="server" CssClass="btn btn-lg btn-primary" OnClientClick="return(Transportista.validarFormularioFichaConductor())"><span class="glyphicon glyphicon-ok"></span>&nbsp;Modificar</asp:LinkButton>
    </div>
  </div>
  <script type="text/javascript">
    jQuery(document).ready(function () {
      jQuery(".chosen-select").select2();

      jQuery(".date-pick").datepicker({
        changeMonth: true,
        changeYear: true
      });
    });

  </script>
  </form>
</body>
</html>
