﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="api_test.aspx.vb" Inherits="webtransportewalmartmx.api_test" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
  <title>API Test</title>
</head>
<body>
  <form id="form1" runat="server">
    <div>
      <!-- mantener estructura html -->
    </div>
  </form>
</body>
</html>
