﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="wucComboCEMTRA.ascx.vb" Inherits="webtransportewalmartmx.wucComboCEMTRA" %>
<asp:DropDownList ID="ddlCombo" runat="server" CssClass="form-control"></asp:DropDownList>

