﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="wucCombo.ascx.vb" Inherits="webtransportewalmartmx.wucCombo" %>
<asp:DropDownList ID="ddlCombo" runat="server" CssClass="form-control"></asp:DropDownList>

